strict-peer-dependencies=false
engine-strict=true
public-hoist-pattern[]=*@tanstack/*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*@untitledui/*
public-hoist-pattern[]=next
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
